<!-- This Snippet Created By: Osama Bakri -->
<!-- Start Compare Section -->
<div class="compare p-70">
    <div class="container">
        <!-- Hosting Head -->
        <div class="section-head text-center">
            <h2 class="mb-3 mx-auto">Let us show you a complete comparison of all our previous results</h2>

        </div>
        <!-- Compare Table -->
        <div class="c-table">
            <!-- H Table -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Features</th>
                        <th>Preprocessing</th>
                        <th>Evaluation Metrics</th>
                        <th>Model Name</th>
                        <th>Result</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of [].constructor(10)">
                        <th>10/24/2021 at 9pm</th>
                        <th>
                            Word2Vec Bert
                        </th>
                        <th>Stop Words</th>
                        <th>Accuracy</th>
                        <th>Random Forest</th>
                        <th>32 percent</th>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- End Compare Section -->