<section class="banner">

    <div class="text">
        <h1 class="upfont">
            We Train
        </h1>

        <h1 class="bgfont pt-2">
            Models For You
        </h1>
        <p class="pt-2">
            Training a ML model is a non trivial task dont worry we are here for you
        </p>


        <div class="pt-3">
            <button (click)="proceed()" class="btn " mat-raised-button color="accent">
                Train Now
            </button>
        </div>

        <section class="d-flex pt-5">
            <span class="boxes">

                Data Preprocessing

            </span>

            <span class="boxes">

                Feature Extraction

            </span>

            <span class="boxes">

                ML model training

            </span>

            <span class="boxes">

                Pickle the model

            </span>

        </section>

    </div>


</section>

<section style="background: white;">

    <h1 class="text-center" style="padding-top: 10px;padding-bottom: 30px;">
        <b>
            SERVICES WE OFFER
        </b>
    </h1>
    <div class="flex">

        <div class="card">

            <div style="text-align: center;">

                <img class="cardicons" src="https://img.icons8.com/dusk/2x/pulse.png" alt="">

            </div>

            <div class="container">

                <h4><b>Train A Model FOR FREE</b></h4>
                <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Error ullam, praesentium
                    eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis ipsum
                    maiores? Amet
                    veniam reprehenderit voluptate quod?</p>

            </div>

        </div>


        <div class="card">

            <div style="text-align: center;">
                <img class="cardicons" src="https://img.icons8.com/dusk/2x/health-book.png" alt="">

            </div>

            <div class="container">

                <h4><b>GET COMPLETE ASSISTANCE</b></h4>
                <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Error ullam, praesentium
                    eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis ipsum
                    maiores? Amet
                    veniam reprehenderit voluptate quod?</p>

            </div>

        </div>

        <div class="card">

            <div style="text-align: center;">

                <img class="cardicons" src="https://img.icons8.com/dusk/2x/heart-health.png" alt="">

            </div>

            <div class="container">

                <h4><b>View Other Models</b></h4>
                <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Error ullam, praesentium
                    eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis ipsum
                    maiores? Amet
                    veniam reprehenderit voluptate quod?</p>

            </div>

        </div>

    </div>






</section>

<div *ngIf="width >=1000" class="wrapper">


    <svg class="svg" viewBox="0 0 200 100" preserveAspectRatio="none">
        <circle fill="white" cx="0" cy="100" r="100" />
        <circle fill="white" cx="200" cy="100" r="100" />
    </svg>


    <section>

        <div class="wrappertext">

            <h2 class="workstext">
                HOW IT WORKS
            </h2>
            <p class="aligncenter">
                Here is an extract of the workings if we choose to opt for us to provide you with health solutions
            </p>

            <div class="flex">

                <div class="works">

                    <div style="text-align: center;">

                        <img class="cardicons" src="https://img.icons8.com/plasticine/2x/verified-account.png" alt="">

                    </div>

                    <div class="container">

                        <h4><b> CREATE A FREE ACCOUNT</b></h4>
                        <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet
                            consectetur
                            adipisicing elit. Error ullam, praesentium
                            eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis
                            ipsum
                            maiores? Amet

                            veniam reprehenderit voluptate quod?</p>

                    </div>

                </div>

                <div class="works">

                    <div style="text-align: center;">

                        <img class="cardicons" src="https://img.icons8.com/color/2x/test-tube.png" alt="">

                    </div>

                    <div class="container">

                        <h4><b>OUR AUTOMATED SYSTEM</b></h4>

                        <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet
                            consectetur
                            adipisicing elit. Error ullam, praesentium
                            eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis
                            ipsum
                            maiores? Amet
                            veniam reprehenderit voluptate quod?</p>

                    </div>

                </div>

                <div class="works">

                    <div style="text-align: center;">

                        <img class="cardicons" src="https://img.icons8.com/dusk/2x/stethoscope.png" alt="">

                    </div>

                    <div class="container">

                        <h4><b>No Need To Code </b></h4>
                        <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet
                            consectetur
                            adipisicing elit. Error ullam, praesentium
                            eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis
                            ipsum
                            maiores? Amet
                            veniam reprehenderit voluptate quod?</p>

                    </div>

                </div>

            </div>


        </div>

    </section>
</div>

<div *ngIf="width < 1000" class="wrapper">


    <svg class="svg" viewBox="0 0 200 100" preserveAspectRatio="none">
        <circle fill="white" cx="0" cy="100" r="100" />
        <circle fill="white" cx="200" cy="100" r="100" />
    </svg>


    <section>

        <div class="wrappertext">

            <h2 *ngIf="width>742" class="workstext">


            </h2>



            <p class="aligncenter">
                <b style=" font-size: 50px;
          color: white;font-family: railway;padding-bottom: 2em;">
                    HOW IT WORKS
                </b>
            </p>

            <p class="aligncenter">

                <br>
                Here is an extract of the workings if we choose to opt for us to provide you with health solutions
            </p>

            <div class="flex">

                <div class="works">

                    <div style="text-align: center;">

                        <img class="cardicons" src="https://img.icons8.com/plasticine/2x/verified-account.png" alt="">

                    </div>

                    <div class="container">

                        <h4><b> CREATE A FREE ACCOUNT</b></h4>
                        <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet
                            consectetur
                            adipisicing elit. Error ullam, praesentium
                            eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis
                            ipsum
                            maiores? Amet

                            veniam reprehenderit voluptate quod?</p>

                    </div>

                </div>

                <div class="works">

                    <div style="text-align: center;">

                        <img class="cardicons" src="https://img.icons8.com/color/2x/test-tube.png" alt="">

                    </div>

                    <div class="container">

                        <h4><b>OUR AUTOMATED DIAGNOSE SYSTEM</b></h4>

                        <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet
                            consectetur
                            adipisicing elit. Error ullam, praesentium
                            eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis
                            ipsum
                            maiores? Amet
                            veniam reprehenderit voluptate quod?</p>

                    </div>

                </div>

                <div class="works">

                    <div style="text-align: center;">

                        <img class="cardicons" src="https://img.icons8.com/dusk/2x/stethoscope.png" alt="">

                    </div>

                    <div class="container">

                        <h4><b>AUTOMATICALLY SCHEDULE CONSULTANCE</b></h4>
                        <p style="color: gray;font-family: railway;text-align: center;">Lorem ipsum dolor sit, amet
                            consectetur
                            adipisicing elit. Error ullam, praesentium
                            eius voluptatibus, obcaecati nulla sint eligendi explicabo cumque, atque saepe nam nobis
                            ipsum
                            maiores? Amet
                            veniam reprehenderit voluptate quod?</p>

                    </div>

                </div>

            </div>


        </div>

    </section>
</div>


<div *ngIf="width>=1346">

    <h1 class="text-center" style="padding:0">
        <b>
            WORKING DESCRIBED IN A LOOP
        </b>
    </h1>

    <h1 class="loops">


        <div class="width">
            <div class="loopcard">
                <img style="height: 1em;object-fit: contain;margin-top: 0.5em;" src="../assets/lock.png" alt="">

                <div style="display: flex;margin-left: 1em;flex-direction: column;">
                    <h3 style="color: #2B323F;font-size: 18px;">

                        REGISTERATION

                    </h3>

                    <p style="color: #4C5462;font-family: railway;font-size:16px ;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum
                        repellat
                        ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore
                        nihil
                        dolorem praesentium veritatis!
                    </p>

                </div>
            </div>

            <div class="loopcard">
                <img class="imeghide" src="../assets/bulb.png" alt="">

                <div style="display: flex;margin-left: 1em;flex-direction: column;">
                    <h3 style="color: #2B323F;font-size: 18px;">

                        GENERATE MEDICAL REPORT

                    </h3>

                    <p style="color: #4C5462;font-family: railway;font-size:16px ;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum
                        repellat
                        ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore
                        nihil
                        dolorem praesentium veritatis!
                    </p>

                </div>
            </div>

        </div>

        <div *ngIf="width>1000" class="width">
            <img src="../assets/art.png" alt="">
        </div>

        <div class="width">
            <div class="loopcard">
                <img style="height: 1em;object-fit: contain;margin-top: 0.5em;" src="../assets/feasibility.png" alt="">

                <div style="display: flex;margin-left: 1em;flex-direction: column;">
                    <h3 style="color: #2B323F;font-size: 18px;">

                        DIAGNOSE YOURSELF

                    </h3>

                    <p style="color: #4C5462;font-family: railway;font-size:16px ;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum
                        repellat
                        ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore
                        nihil
                        dolorem praesentium veritatis!
                    </p>

                </div>
            </div>

            <div class="loopcard">
                <img style="height: 1em;object-fit: contain;margin-top: 0.5em;" src="../assets/bulb.png" alt="">

                <div style="display: flex;margin-left: 1em;flex-direction: column;">
                    <h3 style="color: #2B323F;font-size: 18px;">

                        SCHEDULE CONSULT

                    </h3>

                    <p style="color: #4C5462;font-family: railway;font-size:16px ;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum
                        repellat
                        ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore
                        nihil
                        dolorem praesentium veritatis!
                    </p>

                </div>
            </div>

        </div>

    </h1>
</div>


<div *ngIf="width < 1346">

    <h1 style="padding:0">
        <b>
            WORKING DESCRIBED IN A LOOP
        </b>
    </h1>

    <h1 class="loops">


        <div class="flexi">
            <div class="loopcard">
                <img style="height: 1em;object-fit: contain;margin-top: 0.5em;" src="../assets/lock.png" alt="">

                <div style="display: flex;margin-left: 1em;flex-direction: column;">
                    <h3 style="color: #2B323F;font-size: 18px;">

                        REGISTERATION

                    </h3>

                    <p style="color: #4C5462;font-family: railway;font-size:16px ;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum
                        repellat
                        ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore
                        nihil
                        dolorem praesentium veritatis!
                    </p>

                </div>
            </div>

            <div class="loopcard">
                <img class="imeghide" src="../assets/bulb.png" alt="">

                <div style="display: flex;margin-left: 1em;flex-direction: column;">
                    <h3 style="color: #2B323F;font-size: 18px;">

                        GENERATE MEDICAL REPORT

                    </h3>

                    <p style="color: #4C5462;font-family: railway;font-size:16px ;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum
                        repellat
                        ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore
                        nihil
                        dolorem praesentium veritatis!
                    </p>

                </div>
            </div>


            <div class="loopcard">
                <img style="height: 1em;object-fit: contain;margin-top: 0.5em;" src="../assets/feasibility.png" alt="">

                <div style="display: flex;margin-left: 1em;flex-direction: column;">
                    <h3 style="color: #2B323F;font-size: 18px;">

                        DIAGNOSE YOURSELF

                    </h3>

                    <p style="color: #4C5462;font-family: railway;font-size:16px ;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum
                        repellat
                        ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore
                        nihil
                        dolorem praesentium veritatis!
                    </p>

                </div>
            </div>

            <div class="loopcard">
                <img style="height: 1em;object-fit: contain;margin-top: 0.5em;" src="../assets/bulb.png" alt="">

                <div style="display: flex;margin-left: 1em;flex-direction: column;">
                    <h3 style="color: #2B323F;font-size: 18px;">

                        SCHEDULE CONSULT

                    </h3>

                    <p style="color: #4C5462;font-family: railway;font-size:16px ;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, voluptates. Expedita nostrum
                        repellat
                        ullam eum exercitationem consequatur sapiente nulla mollitia error, fugit ab sit eveniet. Labore
                        nihil
                        dolorem praesentium veritatis!
                    </p>

                </div>
            </div>

        </div>

    </h1>
</div>



<footer class="footer">
    <p style="padding: 0;font-size: 20px;color: white; font-family: 'Raleway', sans-serif;"><b>
            H.R.S
        </b></p>
    <p style="padding: 0;font-size: 14px;color: white;font-family: 'Raleway', sans-serif;">ALL RIGHTS RESERVED.</p>
</footer>